# Ignorar todas as pastas de dados e resultados
raw/
reference/
cutadapt/
bwa/
fastqc/
gatk/
vep/
.conda/

# Arquivos de índice e temporários
*.fai
*.dict
*.amb
*.ann
*.bwt
*.pac
*.sa
*.bai
*.sam

# Caches do Jupyter/Python
.ipynb_checkpoints/
__pycache__/
